body {
    font-family: Helvetica;
    background: linear-gradient(to top, skyblue, gray);
    color: whitesmoke;
}
h1, h2, h3{
    font-style: italic;
    font-size: 15px;
}
header{
    text-align: center;
}
#avatar{
    height: 300px;
    width: 300px;
    border-radius: 150px;
}
#weapon{
    float: right;
    border-radius: 0 60px 0 60px;
}
#trivia{
    clear: right;
}